<% layout("/layouts/boilerplate.ejs") -%>
<style>
    #filters{
        display: flex;
        /* flex-wrap: wrap; */
        align-items: center;
        width: 50vw;
        overflow-x: scroll;
    }
    .filter {
        text-align: center;
        margin-top: 2rem;
        margin-right: 2rem;
        opacity: .75;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .filter p{
        font-size: .8rem;
    }

    .tax-info{
        display: none;
    }
    .tax-toggle {
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-self: flex-end;
        margin-top: 19px;
        margin-left: 2rem;
        width: 18rem;
        border-radius: 1rem;
        height: 3rem;
        padding: 1rem;
    }

    .Trending{
        display: flex;
        align-items: center;
        margin-left: 2rem;
    }

    .btnremove{
        background: none;
    border: none;
    outline: none;
    box-shadow: none;
    }
    
    


</style>
    <body>
        <div class="Trending">
            <div id="filters">
                <div class="filter">
                    <form action="/listings"><button class="btnremove">
                        <div><i class="fa-solid fa-rotate"></i></div>
                        <p>ALL</p>
                    </button></form>
                </div>
                <div class="filter">
                <form action="/tags/Trending" method="post"><button class="btnremove">
                    <div><i class="fa-solid fa-fire"></i></div>
                    <p>Trending</p>
                </button></form>
            </div>
            <div class="filter">
                <form action="/tags/Rooms" method="post"><button class="btnremove">
                    <div><i class="fa-solid fa-hospital"></i></div>
                    <p>Rooms</p>
                </button></form>
            </div>
            <div class="filter">
                <form action="/tags/Iconic Cities" method="post"><button class="btnremove">
                    <div><i class="fa-solid fa-mountain-city"></i></div>
                    <p>IIconic Cities</p>
                </button></form>
            </div>
                <div class="filter">
                <form action="/tags/Mountains" method="post"><button class="btnremove">
                    <div><i class="fa-solid fa-mountain-sun"></i></div>
                    <p>Mountains</p>
                </button></form>
            </div>
                <div class="filter">
                <form action="/tags/Castles" method="post"><button class="btnremove">
                    <div><i class="fa-brands fa-fort-awesome"></i></div>
                    <p>Castles</p>
                </button></form>
            </div>
                <div class="filter">
                <form action="/tags/Amazing Pools" method="post"><button class="btnremove">
                    <div><i class="fa-solid fa-person-swimming"></i></div>
                    <p>Amazing Pools</p>
                </button></form>
            </div>
                <div class="filter">
                <form action="/tags/Camping" method="post"><button class="btnremove">
                    <div><i class="fa-solid fa-campground"></i></div>
                    <p>Camping</p>
                </button></form>
            </div>
                <div class="filter">
                <form action="/tags/farms" method="post"><button class="btnremove">
                    <div><i class="fa-brands fa-fort-awesome"></i></div>
                    <p>farms</p>
                </button></form>
            </div>
                <div class="filter">
                <form action="/tags/Arctic" method="post"><button class="btnremove">
                    <div><i class="fa-regular fa-snowflake"></i></div>
                    <p>Arctic</p>
                </button></form>
            </div>
                <div class="filter">
                <form action="/tags/Domes" method="post"><button class="btnremove">
                    <div><i class="fa-solid fa-igloo"></i></div>
                    <p>Domes</p>
                </button></form>
            </div>
            <div class="filter">
                <form action="/tags/Boats" method="post"><button class="btnremove">
                    <div><i class="fa-solid fa-sailboat"></i></div>
                    <p>Boats</p>
                </button></form>
                </div>
            </div>
            <div class="tax-toggle">
                <div class="form-check form-switch form-check-reverse">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                    <label class="form-check-label" for="flexSwitchCheckReverse">Display Totle after Taxes</label>
                </div>
            </div>
        </div>
        <div class="row row-cols-ig-3 row-cols-md-3 row-cols-sm-1 mt-3">
            <%for(let listing of allListing){%>
            <a href="/listings/<%=listing._id%>" class="listing-link">
                <div class="card card-listing col">
                    <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_img">
                    <div class="card-img-overlay"><%=listing.location%></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title%></b> <br>
                                &#8377; <%=Number(listing.price).toLocaleString("en-IN")%> /night
                                <i class="tax-info">&nbsp;&nbsp; +18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
            <%}%>
        </div>
        <script>
            let taxSwitch = document.getElementById("flexSwitchCheckReverse");
            taxSwitch.addEventListener("click",()=>{
                let taxInfo = document.getElementsByClassName("tax-info")
                for(info of taxInfo){
                    if(info.style.display != "inline"){
                        info.style.display = "inline"
                    } else {
                        info.style.display = "none"
                    }
                }

            })
        </script>
    </body>