<% layout('/layouts/boilerplate') -%>
<script>
    let MapToken = "<%= process.env.MAP_TOKEN %>";
    let coordinates = <%-  JSON.stringify(listing.geometry.coordinates)%>;
</script>
<body>
<div class="row">
    <div class="col-8 offset-2">
        <h3><b><br><%=listing.title%></b></h3>
    </div>
    <div class="card col-8 offset-2">
        <img src="<%=listing.image.url%>" class="card-img-top show-image" alt="listing_img">
        <div class="card-body">
            <br>
            <p class="card-text">Owned BY : <i><%=listing.owner.username%></i></p>
            <p class="card-text"><%=listing.description%></p>
            <p class="card-text">&#8377; <%=Number(listing.price).toLocaleString("en-IN")%> </p>
            <p class="card-text"><%=listing.location%></p>
            <p class="card-text"><%=listing.country%></p>
        </div>
    </div>
    <%if(currUser && currUser._id.equals(listing.owner._id)){%>
    <div class="btns mt-3">
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark col-1 offset-2 btn-new">Edit</a>
        <form action="/listings/<%=listing._id%>?_m=DELETE" method="post">
            <button class="btn btn-dark offset-4">Delete</button>
        </form>
    </div>
    <%}%>

    <div class="col-8 offset-2" >
        <%if(currUser){%>
        <br> <hr>
        <h4>Leave a Review</h4>
        <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
            <!-- <div>
                <label for="rating" class="form-label">rating</label>
                <div class="space"><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span></div>
                <input type="range" id="rating" name="review[rating]" min="1" max="5" class="form-control">
            </div> -->
            <div>
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                <!-- <legend>First rating:</legend> -->
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
        </div>
            <div>
                <label for="comment" class="form-label">comment</label> <br>
                <textarea name="review[comment]" id="comment" cols="30" rows="4" class="form-control" required ></textarea>
                <div class="valid-feedback">comment Looks good!</div>
                <div class="invalid-feedback">Please add some comments for review!</div>
            </div> <br>
            <button class="btn btn-outline-dark">Summit</button>
        </form>
        <hr>
    <%}%>
    <div class="row mt-3">
        <h4>ALL Reviews</h4>
        <%if(!currUser){%>
            <p>login to create Reviews <a href="/login">login</a></p>
        <%}%>    
        <% for(review of listing.reviews) {%>
            <div class="card col-5 ms-3, mb-3">
                <div class="card-body">
                    <h5 class="card-title">@<%=review.author.username%></h5>
                    <p class="starability-result " data-rating="<%=review.rating%>">
                        Rated: 2 stars
                    </p>
                    <p class="card-text"><%=review.comment%></p>
                    <form method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_m=DELETE">
                        <button class="btn btn-sm, btn-dark" >Delete</button>
                    </form> <br>
                </div>
            </div>
        <%}%>

        <%if(listing.reviews.length == 0){%>
            <p>No reviews Post</p>
        <%}%>
    </div>
</div>
<!-- <div class="col-8 offset-2 mb-3">
    <h3>Where You'll be </h3>
    <div id="map"><h6 style="margin-left: 20px; color: red;">Map feature not Available Becouse Token is not vaild</h6></div>
</div> -->
<div class="col-8 offset-2">
    <div id="map">
        <script src="/js/map.js"></script>
    </div>
</div>
</div>
  
</body>